#calculator {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #323232;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 40px;
    margin: 0;
    border-radius: 10px;
    margin: auto;
}
#key{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;
    justify-content: center;   
}

button {
    width: 60px;
    height: 60px;
    font-size:24px;
    cursor: pointer;
    border-radius: 100%;
    background-color: #646462;
    color: white;
    border: none;
}

button.column-4{
    background-color: #FF9F0A;
}

#display-1 {
    outline: none;
    width: 280px;
    height: 40px;
    font-size: 30px;
    text-align: right;
    background-color: #323232;
    padding: 0;
    padding-right: 20px;
    border: none;
    color: rgb(123, 121, 121);
    margin-bottom: 5px;
}
#display-2{
    outline: none;
    width: 280px;
    height: 40px;
    font-size: 40px;
    text-align: right;
    background-color: #323232;
    padding: 0;
    padding-right: 20px;
    border: none;
    color: white;
    margin-bottom: 5px;
}
img {
    width: 30px;
    padding: 0;
    border: none;
    overflow: hidden;
    position: relative;
    filter: invert(90%);
    padding-top: 5px;
}